.home-page{
   background-image: url(../../assets/1000_F_591885791_K3I6L8wcFgnH6o1sbzBq2rNqsv921UPE.jpg);
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}